<div class="container">
    <div class="row">
    <figure class="col-md-12">
        <blockquote class="blockquote">
            <p>Спасибо за заказ!</p>
        </blockquote>
        <figcaption class="blockquote-footer">
            С Вами свяжется менеджер в ближайшее время<cite title="Source Title"><a href="/Home"> перейти на главную страницу</a></cite>
        </figcaption>
    </figure>
    </div>
</div>